{{#if displayPrev}}
<div class="paged archive-template">
   <div class="extra-pagination inner">
      <nav class="pagination">
         {{#if displayPrev}}<a class="newer-posts" {{action "goPrev"}}><span>←</span> Newer Posts</a>{{/if}}
         <span class="page-number">Page {{pageNumber}} of {{pageCount}}</span>
         {{#if displayNext}}<a class="older-posts" {{action "goNext"}}>Older Posts <span>→</span></a>{{/if}}
      </nav>
   </div>
</div>
{{/if}}

{{! This is the post loop - each post will be output using this markup }}

{{#each postList as |post|}}
   {{blog-post post=post}}
{{/each}}

{{! Previous/next page links - displayed on every page }}
<nav class="pagination">
   {{#if displayPrev}}<a class="newer-posts" {{action "goPrev"}}><span>←</span> Newer Posts</a>{{/if}}
   <span class="page-number">Page {{pageNumber}} of {{pageCount}}</span>
   {{#if displayNext}}<a class="older-posts" {{action "goNext"}}>Older Posts <span>→</span></a>{{/if}}
</nav>

{{yield}}
